.stake-input {
  height: 25px;
  width: 50px;
  font-size: 15px;
  margin-left: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

/* remove input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.stake {
  display: flex;
  align-items: center;
}
