.bet-success {
  margin: 10px;
  background-color: green;
  border-radius: 10px;
  padding: 10px;
  height: 80%;
}

.receipt-text {
  margin: 30px 0;
}

.receipt-total {
  font-size: 30px;
}

.receipt-title {
  color: white;
}
