.betslip-form {
  min-height: 100px;
  background-color: green;
  margin: 10px;
  border-radius: 10px;
}

.bet-title {
  color: white;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
.bet-dropdown {
  display: flex;
  justify-content: end;
}

.slip-cards {
  margin: 10px 0;
}

p {
  margin: 6px;
}
