.btn-submit {
  float: right;
  margin: 5px 5px 10px 5px;
  border: none;
  width: 150px;
  display: flex;
  justify-content: center;
}

.btn-submit:hover {
  background-color: orange;
  color: white;
  border: none;
}
