.slip-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.slip-info {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
